body {
  margin: 0;
  font-family: sans-serif;

  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

label {
  display: block;
}

/* Container
=============== */
.container {
  width: 100%;
  max-width: 1800px;

  padding: 0 20px;
  height: auto;
}

/* program-1
================*/
.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.program__link {
  padding: 50px 0 20px;
}

.program__link-prev,
.program__link-next {
  margin-right: 20px;
  padding: 7px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.program__link-prev:hover,
.program__link-prev:active,
.program__link-next:hover,
.program__link-next:active {
  color: #fff;
  background-color: #3b683b;
}

.program__item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 20px 50px;

  background-color: #dff0e1;
  box-shadow: 0 0 10px 10px #333;
  border-radius: 25px;
}

.program__name {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.program__input-object {
  margin-bottom: 30px;
}

.program__header {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.program__input-item {
  display: flex;
}

.program__input-point {
  padding-right: 45px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.program__input-point-p {
  padding-right: 32px;
}

.program__input-container {
  display: flex;
}

.program__input-container-z7 {
  margin-left: 224px;
}

.program__span {
  padding-right: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.program__input {
  width: 75px;
  margin-right: 15px;
  padding-left: 10px;
  border: 1px solid #333;
  border-radius: 25px;
  height: 30px;
  font-size: 16px;
  line-height: 32px;
  background-color: yellow;
  color: #333;
}

.program__input-n {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  background-color: green;
  color: #fff;
  padding-left: 10px;
}

.program__btn {
  width: 60px;
  height: 30px;

  margin-left: 25px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #333;

  border: 1px solid #333;
  border-radius: 50px;
  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.program__btn:hover {
  color: #fff;
  background-color: #333;
}

.program__span__item {
  display: flex;
}

/*program__picture
=========================*/
.program__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.program__picture-container {
  position: relative;
  width: 300px;
  height: 200px;
  margin-left: 70px;

  background: #3b683b;
}

.program__picture-container-unix500 {
  position: relative;
}

.program__picture-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.program__picture-circle-unix303-1 {
  top: -4px;
  left: -4px;
}

.program__picture-circle-unix303-2 {
  top: -4px;
  right: -4px;
}

.program__picture-circle-unix303-3 {
  bottom: -4px;
  right: -4px;
}

.program__picture-circle-unix303-4 {
  bottom: -4px;
  left: -4px;
}

.program__picture-text-desc {
  margin-bottom: 25px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}

.program__picture-text {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}

.program__picture-text-unix303-n1 {
  top: -23px;
  left: -11px;
}

.program__picture-text-unix303-n2 {
  top: -23px;
  right: -11px;
}

.program__picture-text-unix303-n3 {
  bottom: -23px;
  right: -11px;
}

.program__picture-text-unix303-n4 {
  bottom: -23px;
  left: -11px;
}

.program__picture-text-unix303-n5 {
  top: -8px;
  left: -22px;
}

.program__picture-circle-unix500-1 {
  top: 193px;
  left: 58px;
}

.program__picture-circle-unix500-2 {
  top: 132px;
  left: 64px;
}

.program__picture-circle-unix500-3 {
  top: 82px;
  left: 102px;
}

.program__picture-circle-unix500-4 {
  top: 22px;
  right: 161px;
}

.program__picture-circle-unix500-5 {
  top: 64px;
  right: 75px;
}

.program__picture-circle-unix500-6 {
  top: 203px;
  right: 36px;
}

.program__picture-circle-unix500-7 {
  bottom: 70px;
  right: 72px;
}

.program__picture-circle-unix500-8 {
  bottom: 25px;
  right: 155px;
}

.program__picture-circle-unix500-9 {
  bottom: 105px;
  left: 89px;
}

.program__picture-circle-unix500-10 {
  bottom: 171px;
  left: 50px;
}

.program__picture-circle-unix500-11 {
  bottom: 207px;
  left: -20px;
}

.program__picture-circle-unix500-12 {
  bottom: 260px;
  left: -20px;
}

.program__picture-text-unix500-n1 {
  top: 189px;
  left: 31px;
}

.program__picture-text-unix500-n2 {
  top: 128px;
  left: 42px;
}

.program__picture-text-unix500-n3 {
  top: 70px;
  left: 85px;
}

.program__picture-text-unix500-n4 {
  top: 2px;
  right: 158px;
}

.program__picture-text-unix500-n5 {
  top: 49px;
  right: 56px;
}

.program__picture-text-unix500-n6 {
  top: 198px;
  right: 15px;
}

.program__picture-text-unix500-n7 {
  bottom: 69px;
  right: 47px;
}

.program__picture-text-unix500-n8 {
  bottom: 22px;
  right: 131px;
}

.program__picture-text-unix500-n9 {
  bottom: 85px;
  left: 82px;
}

.program__picture-text-unix500-n10 {
  bottom: 166px;
  left: 19px;
}

.program__picture-text-unix500-n11 {
  bottom: 216px;
  left: -22px;
}

.program__picture-text-unix500-n12 {
  bottom: 270px;
  left: -22px;
}

.program__picture-text-unix500 {
  top: 0;
  left: 0;
}

.program__picture-unix500 {
  justify-content: flex-end;
}


